html, body {
	position: relative;
	width: 1fr;
	height: 1fr;
	height: var(--window-height);
}

body {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;

	color: #333;
	margin: 0;
	overflow: hidden;
	box-sizing: content-box;
	font-family: Georgia, "Times New Roman", Times, serif;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
}

* {
	/* 
	 This font-size acts as global zoom factor for entire game. 
	 Everything is based off this referenc value. 
	*/
	font-size: 0.7cm; 

	user-select: none;
}